/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

References : 

gradients :

https://uigradients.com
https://webgradients.com
https://gradienthunt.com


Create polygons:

https://bennettfeely.com/clippy

*/

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";
@import "pages/home";


